.account__info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-family: sans-serif;

    display: inline-block;
}


.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}